* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  font-size: 16px;
}

@media screen and (max-width:768px) {
 body {
    font-size: 13px;
  }
}

.title {
  padding: 8px 0;
  text-align: center;
  font-size: 45px;
  word-break: keep-all;
}

@media screen and (max-width:900px) {
 .title {
    font-size: 35px;
  }
}

@media screen and (max-width:768px) {
 .title {
    font-size: 25px;
  }
}

.container {
  height: calc(100vh - 86px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

@media screen and (max-width:900px) {
 .container {
    height:calc(100vh - 60px);
  }
}

.cell {
  position: relative;
  width: 100%;
  height: 100%;
}

.cell input,
.subcell input {
  display: none;
}

.front {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: block;
  outline: 3px solid black;
  outline-offset: -1.5px;
  cursor: pointer;
}

.detail {
  position: absolute;
  inset: 0;
  display: none;
  background: white;
}

.cell input:checked ~ .detail {
  display: grid;
}

.cell input:checked ~ .front {
  display: none;
}

.detail-general {
  grid-template-columns: repeat(3, 1fr);
}

.detail-toilet,
.detail-urinal,
.detail-sink {
  grid-template-columns: repeat(2, 1fr);
}

.subcell {
  position: relative;
}

.subfront {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 3px solid black;
  outline-offset: -1.5px;
  cursor: pointer;
}

.subcell input:checked ~ .subfront {
  display: none;
}

.subcell input:checked ~ .deep-detail {
  display: grid;
}

.deep-detail {
  position: absolute;
  inset: 0;
  display: none;
}

.one-split {
  grid-template-columns: 1fr;
}

.two-split {
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 768px) {
  .two-split {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}

.three-split {
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 768px) {
  .three-split {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}

.four-split {
  grid-template-columns: repeat(2, 1fr);
}

.two-row {
  grid-template-rows: repeat(2, 1fr);
}

figure {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  outline: 3px solid black;
  outline-offset: -1.5px;
  overflow: hidden;
}

figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

figure p {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
